@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Vidly is a video rental web-application that provides various movies to be rented.<p>
    <p>@Html.ActionLink("SIGN UP NOW", "Register","Account", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>
